table {
    width: 100%;
    margin: 8px 0;
    border-collapse: collapse;
}


table
th,
td {
  border-collapse: collapse;
  border: #cccccc 1px solid;
  vertical-align: top;
}

th,
td {
  text-align: end;
  padding: 6px;
  font-size: 12px;
}

th > span {
  font-weight: lighter;
}

.title {
    margin: 8px 0;
}