table {
  width: 100%;
  margin: 8px 0;
  border-collapse: collapse;
}

table th,
td {
  border-collapse: collapse;
  border: #cccccc 1px solid;
  vertical-align: top;
}

th,
td {
  text-align: end;
  padding: 6px;
  font-size: 12px;
}

th > span {
  font-weight: lighter;
}

.title {
  margin: 8px 0;
}

.explainInDetail > tbody > tr:first-child,
.explainInDetail > tbody > tr:nth-child(5),
.explainInDetail > tbody > tr:nth-child(8),
.explainInDetail > tbody > tr:last-child {
  background-color: #EDEDED;
}

.explainInDetail > tbody > tr > td:first-child {
  font-weight: bold;
}
