:root {
  --black: #000;
  --dark-blue: #3b5998;
  --red: #ff0000;
  --brown: #654b24;
  --grey: #ededed;
  --dark: #453821;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  background-color: var(--grey);
}
h3 {
  font-size: 13px;
}

input {
  font-size: 12px;
  padding: 1px 2px;
}
