.card {
    border-radius: 10px;
    background: #eceadf url('../../images/bg-card.png') 50% 50% repeat;
    border: 1px solid #d9d6c4;
    color: #1f1f1f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 3px;
}
